
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-align-justify:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */