

.header {
	position: relative;
	background: #4eacdd url(../../images/bg.jpg);



	&__inner {
		.inner_container();
		color: #fff;
		background: url(../../images/iphone5-img.png) no-repeat 80px 385px;
		border-bottom: 1px solid transparent;

	}

	&__top-menu {
	width: 100%;
	}

	&__logo-wrap {
	float: left;
	margin-left: 10px;
	}


	&__burger-btn {
	float: right;
	margin-right: 10px;
	margin-top: 40px;
	
	}

	&__title {
	font-size: @font-size-h1;
	font-family: 'BlackJack';
	margin-top: 50px;
	margin-bottom: 0;
	}

	&__slogan {
	font-size: @font-size-slogan;
	font-family: 'ProximaNova-light', serif;
	 font-weight: 200;
  	 font-style: normal;

  	   &-bold {
	font-weight: bold;
	font-family: 'ProximaNova', serif;

		} 

	}

	&__descriptions{
		text-align: right;
		margin-right: 5px;
		margin-bottom: 250px;
	}


	&__btn {
		margin-top: 65px;
	}

}



.icon-align-justify {
	font-size: 30px;
	cursor: pointer;
}


	.header__nav-menu {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0.9;
		background-color: #e57f85;

		&--icon-cross {
			.inner_container();

				.icon-cancel {
					font-size: 40px;
					color: #fff;
					cursor: pointer;
					float: right;
					margin-top: 35px;
					margin-right: 5px;
				}
		

		}
	}


.main-nav {
	position: relative;
	width: 300px;
	font-size: 18px;
	margin: auto;
	margin-top: 200px;

	li {
		margin: 30px 0;
		cursor: pointer;

		&:hover i {
			background-color: transparent;
			border: 1px solid #fff; 
			padding: 9px;
		}

	}

	i {
		color: #4eacdd;
		background-color: #fff;
		border-radius: 50%;
		padding: 10px;
		text-align: left;

		
	}


	a {
		color: #fff;
		font-style: italic;
		font-weight: bolder;
		margin-left: 10px;


			}
}

